
.smallcolumn{
  float:right;
  width: 15%;
  text-align: center;
  border: 2px solid #ce8ec2;
  height: 500px;
  margin-left: 10px;
  background-color: #d8b3d1;
}

.biglcolumn{
  float:left;
  width: 80%;
  text-align: center;
  margin-left:2px;
}

.jumbotron{
  width: 80%;
  text-align: center;
}

.panel{
  width: 100%;
}

.row{
  width: 110%;

}

.well{
  text-align: center;
  width:77%;
}

#image{
  width: 20%;
  margin-left: 20px;
  float:left;

}

.date{
  color:red;
}

.info p {
  text-align: center;
  font-style: italic;
}

.hobbys{
  text-align: left;
}
.container{
  background-color: #afaee5;
}
.activity{
  border: 1px solid black;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

#girl1{
  width: 100%;
}

 .panel-body p{
   width: 100%;
   font-size: 80%;
 }

 #hobbys{

   font-size: 95%;
 }
