
.smallcolumn{
  float:right;
  width: 20%;
  text-align: center;
  border: 2px solid pink;
  height: 1000px;
  margin-left: 10px;


}



.biglcolumn{
  float:left;
  width: 80%;
  text-align: center;
  margin-left:2px;

}

.jumbotron{
  width: 80%;
  text-align: center;
}

.panel{
  width: 100%;
}

.row{
  width: 100%;
}

.info{
  text-align: center;
}

#image{
  width: 20%;
  margin-left: 350px;

}
