
.smallcolumn{
  float:right;
  width: 30%;
  text-align: center;
  border: 2px solid pink;
  height: 1000px;
  margin-left: 100px;

}



.biglcolumn{
  float:left;
  width: 60%;
  text-align: center;
  margin-left:10px;

}

.jumbotron{
  width: 60%;
  text-align: center;
}
